@CHARSET "UTF-8";

body {
	font-family:	Arial;
	color:			#666;
}

img {   
	-webkit-box-shadow: 2px 3px 8px 0 #808080;
  -moz-box-shadow: 3px 3px 8px 0 #808080;
  box-shadow: 3px 3px 8px 0 #808080;
}

#wrapper {
	margin:			0 auto;
}

#leftColumn {
	width:			18%;
	float:			left;
}
#rightColumn {
	width:			79%;
	float:			right;
}

#rightColumn #pages a {
	padding-top:		4.4em;
	padding-bottom:		0.7em;
	width:				10%;
}

#rightColumn #pages a,
.navigation {
	display:			block;
	float:				right;
	text-decoration:	none;
	font-size:			1.2em;
	letter-spacing:		0.1em;
	color:				#666;
}

.navigation {
	width:				100%;
}

#rightColumn #pages a:hover,
.navigation a:hover {
	text-decoration:	underline !important;
}

#leftColumn .logo img {
	margin-left:	auto;
	margin-right:	auto;
	max-width:		100%;
	max-height:		100%;
}

#leftColumn .logo,
#rightColumn #pages {
	height:				110px;
	width:				85%;
}

#rightColumn #pages {
	text-align:			center;
}

#rightColumn #stage {
	width:				80%;
}
#rightColumn #stage img {
	max-width:			100%;
}

#leftColumn .navigation {
	font-size:			0.8em;
}
#leftColumn .navigation .section {
	font-size:			1.1em;
	font-weight:		bold;
	margin-top:			0.5em;
	margin-bottom:		0.2em;
	color:				#333;
}

#leftColumn ul li {
	list-style-type:	none;
	margin-top:			0.3em;
}

#leftColumn li a {
	color:				#666;
	text-decoration:	none;
}

#leftColumn li a:hover {
	text-decoration:	underline;
}

#leftColumn li ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.clear {
	clear:				both;
}

.centerpieceWrapper img,
.centerpieceWrapper .exaltedWords {
	clear:				both;
	display:			block;
	margin-left:		auto;
	margin-right:		auto;
	margin-bottom: 2.0em;
}

.centerpieceWrapper .exaltedWords {
	white-space:		pre-wrap;
}

.exaltedWords {
	text-align:			left;
}

/*THUMBNAIL HOVERPOPUPS*/

.thumbnail  {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail:hover {
	/*background-color: #e9e9e2;*/
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	/*background-color: #e5e5e5;*/
	padding: 5px;
	/*left: -1000px;*/
	/*border: 1px solid #666;*/
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0px; 
	/*padding: 2px;*/
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; 
	/*width: 200px;*/
	top: 40px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: -100px;/*position where enlarged image should offset horizontally */
}